

<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">New Donation</h5>
    <h5><i class="fas fa-coins"></i> SALDO 100 $</h5>
  </div>
  <div class="card-body">
    <%= render 'form', donation: @donation %>
  </div>
</div>

