<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="/dashboards" class="nav-link <%= 'active' if(nav=='received') %>" aria-current="page" href="#">Recebidos</a>
  </li>
  <li class="nav-item">
    <a href="/dashboard/deposit"  class="nav-link <%= 'active' if(nav=='deposit') %>" href="#">Depositados</a>
  </li>

  <li class="nav-item">
    <a href="/dashboard/rank"  class="nav-link <%= 'active' if(nav=='deposit') %>" href="#">Rank</a>
  </li>
</ul>
